body {
  --seeker-back-color: #b3c1d1;
  --finder-back-color: #feebb1;
  background-color: white;
  }

#FinderPage {
    background-color: var(--finder-back-color);
}

#SeekerPage {
    background-color: var(--seeker-back-color);
}

#errorMsg {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    padding: 10px 20px;
    color: red;
    background-color: transparent;
}

  main{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    padding-top: 5em;
    width: 80%;
    max-width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .formBook {
      width: 100%;
  }
 
  .formPage{
      display: flex;
      flex-direction: column;
      background-color: white;
      align-items: flex-end;
      padding: 30px 50px;
  }

  .hidePage {
    display: none;
  }

  h1 {
    color: #142a50;
    font-weight: bold;
    font-size: 30px; 
    margin: 30px 0;
  }

  label {
      margin-bottom: 5px;
  }

  input:not(.filechooser), select {
      border: 0;
      background-color: #e5e5e5;
      height: 25px;
  }

  textarea {
    resize: none;
    border: 0;
    background-color: #e5e5e5;
  }
  
  input:focus, textarea:focus {
      outline: none;
  }

  .filechooser {
      background-color: #e5e5e5;
  }
/*
  input[type="file"] {
    font-size: 200px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 100;
  }
*/
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .Btn {
      margin-top: 20px;
  }

  #searchwrap {
      width: 100%;
      margin: 10px 0;
  }

  .searchLine {
      display: flex;
      flex-direction: row;
      height:1.5em;
      width: 100%;
      background-color: white;
  }
  
  #search {
      flex-grow: 1;
      background-color: white;
  }

  .search-logo {
      height: 1em;
      transform: scaleX(-1);  
      margin: auto 0;
      margin-right: 5px;
  }

  /* Results page styling */

  #searchFields {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
  }

  #editBtn {
      font-size: 12px;
      padding: 5px 10px;
      margin: 0;
      border-radius: 5px;
  }

  #results {
      display: flex;
      flex-direction: column;
      width: 100%
  }

  .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 10px;
  }

  .lostItem {
      background-color: var(--seeker-back-color);
  }

  .foundItem {
      background-color: var(--finder-back-color);
  }

  .itemTitle {
      flex-grow: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }

  .expandBtn {
      font-weight: bold;
      margin-left: auto;
  }

  .expandBtn:hover {
      cursor: pointer;
  }

  .expandedContent {
      font-size: 14px;
  }

  .tableHeader {
      font-weight: bold;
      padding-right: 10px;
  }